.hero {
    height: 600px;
    width: 1280px;
    background: 0px 0px url(../img/hero.png) no-repeat;
    border-radius: 10px;
    padding-left: 85px;
    padding-top: 117px;

    .hero-main-text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        width: 493px;
        margin-bottom: 32px;
    }

    .hero-text {
        width: 440px;
        color: #FEFCF7;
        opacity: 0.8;  
        margin-bottom: 71px; 
    }

    a {
        margin-top: 71px;
    }

}    


